.sidebar {
  top: 0;
  width: var(--sidebar-width);
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--second);
  display: flex;
  flex-direction: column;
  box-shadow: inset -2px 0px 2px 0px rgb(0, 0, 0, 0.05);
  position: relative;
  transition: width ease 0.05s;

  .sidebar-header {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .sidebar-logo {
    position: absolute;
    right: 0;
    bottom: 18px;
  }

  .sidebar-title {
    font-size: 20px;
    font-weight: bold;
    animation: slide-in ease 0.3s;
  }

  .sidebar-sub-title {
    font-size: 12px;
    font-weight: 400;
    animation: slide-in ease 0.3s;
  }

  .sidebar-body {
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
  }

  .narrow-sidebar {

    .sidebar-title,
    .sidebar-sub-title {
      display: none;
    }

    .sidebar-logo {
      position: relative;
      display: flex;
      justify-content: center;
    }

    .sidebar-header-bar {
      flex-direction: column;

      .sidebar-bar-button {
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }

    .sidebar-tail {
      flex-direction: column-reverse;
      align-items: center;

      .sidebar-actions {
        flex-direction: column-reverse;
        align-items: center;

        .sidebar-action {
          margin-right: 0;
          margin-top: 15px;
        }
      }
    }
  }

  .sidebar-tail {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  .sidebar-actions {
    display: inline-flex;
  }

  .sidebar-action:not(:last-child) {
    margin-right: 15px;
  }


  &:hover,
  &:active {
    .sidebar-drag {
      background-color: rgba($color: #000000, $alpha: 0.01);

      svg {
        opacity: 0.2;
      }
    }
  }

  .mobile {
    display: none;
  }

}

@media only screen and (max-width: 600px) {
  .container {
    min-height: unset;
    min-width: unset;
    max-height: unset;
    min-width: unset;
    border: 0;
    border-radius: 0;
  }

  .sidebar {
    position: absolute;
    left: -100%;
    z-index: 1000;
    height: var(--full-height);
    transition: all ease 0.3s;
    box-shadow: none;
  }

  .sidebar-show {
    left: 0;
  }

  .mobile {
    display: block;
  }
}
